/Secrets.py

 env:
        API_KEY: ${{ secrets.api_key }}
      run: |
          echo $API_KEY >> bare.py
          echo 'api_key = "'$API_KEY'"' >> secrets.py
    - name: Install dependencies
      run: |
