sprint 1 
import secrets 
import sys 
import requests 

Sprint 2 
import sqlite3
import sys
from typing import Tuple
import requests
import pandas as pd
import csv

requests~=2.27.1
pandas~=1.4.0

Sprint 3 

import sqlite3
import sys
from typing import Tuple
import requests
import pandas as pd
import csv

requests~=2.27.1
pandas~=1.4.0
